.terminal-content pre[data-prefix]:not([data-prefix=""])::before {
  content: attr(data-prefix);
  margin-right: 0.5rem;
  opacity: 0.7;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
