---
import "@fontsource-variable/outfit";
import Header from "../components/home/Header.astro";
import Footer from "../components/common/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ES Check - Check JavaScript files ES version against a specified ES version" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}${import.meta.env.BASE_URL.endsWith('/') ? '' : '/'}es-check-logo.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - ES Check</title>
  </head>
  <body>
    <div>
      <Header />
      <slot />
      <Footer />
    </div>
    <script is:inline>
      // Initialize theme
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      
      document.documentElement.setAttribute("data-theme", theme);
    </script>
  </body>
</html>
